  
label {
    margin-right: 10px;
}

.tableDiv div {
    background-color: #000000;
}

.formTramites div {
    margin-bottom: 10px;
}
  
.asuntoText p {
    font-size: 30px;
    color: #888;
    margin-top: 5px;
    margin-left: 5px;
}