.form div {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    margin-top: 10px;
    margin-bottom: 10px;
}
  
label {
    margin-right: 10px;
}

.tableDiv div {
    background-color: #ccc;
}
  
.asunto textarea {
    width: 300px;
    height: 150px;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    resize: vertical;
    font-size: 16px;
    line-height: 1.5;
}
  
.asunto p {
    font-size: 30px;
    color: #888;
    margin-top: 5px;
    margin-left: 5px;
}